<!DOCTYPE html>
    <head>
        <title> {% block title %} {% endblock %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <a href="{{ url_for('index') }}">
                <h1 class="logo">Book Web</h1>
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('books') }}">Books</a></li>
                    <li><a href="{{ url_for('authors') }}">Authors</a></li>
                </ul>
            </nav>
        </header>
    </body>
        <main>
            {% block content %} {% endblock %}
        </main>
    </body>
</html>